* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #fffae3;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #572af8;
    width: 107px;
    height: 44px;
    border-radius: 4px;
}

/* //////////////// */

.about__inner {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: #191720;
    font-family: "Roboto Serif", serif;
    font-size: 74px;
    font-weight: 600;
    margin-bottom: 80px;
}

.tag {
    margin-top: 40px;
    font-family: "Roboto Serif", serif;
    font-size: 44px;
    font-weight: 600;
    color: #191720;
}

.about__desc {
    margin-top: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #191720;
    font-size: 1.8rem;
    line-height: 30px;
}

.about__inner img {
    margin-top: 100px;
    border-radius: 20px;
    float: left;
    margin: 0 62px 0 0;
}

/* Tablet styles (1024px) */
@media (max-width: 1024px) {
    .about__inner {
        width: unset;
    }
    .about .container {
        width: 1170px;
        max-width: calc(100% - 48px);
        margin: 0 auto;
    }
    .about__inner img {
        width: 50%;
    }
}

/* Mobile styles (480px) */
@media (max-width: 480px) {
    .about__inner {
        width: 78%;
    }
    .about__inner img {
        width: 100%;
        margin-bottom: 4rem;
    }
    .title {
        font-size: 50px;
    }
    .tag {
        font-size: 35px;
    }
}
