.blog__inner {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.blog__box {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

.title {
    text-align: center;
    color: #191720;
    font-family: "Roboto Serif", serif;
    font-size: 74px;
    font-weight: 600;
    margin-bottom: 80px;
    line-height: 86px;
}

.tag {
    margin-top: 10px;
    font-family: "Roboto Serif", serif;
    font-size: 44px;
    font-weight: 600;
    color: #191720;
    line-height: 51px;
}

.blog__desc {
    margin-top: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #191720;
    font-size: 1.8rem;
    line-height: 30px;
}

.blog__item {
    width: 100%;
    border: 2px #a9a9a954 solid;
    background: white;
    border-radius: 35px;
}

.blog__item img {
    margin-top: 100px;
    border-radius: 20px;
    float: left;
    margin: 0 62px 0 0;
    width: 45%;
}

.blog-btn {
    width: 150px;
    height: 50px;
    margin-top: 30px;
    background: #ffcf54;
    color: white;
    font-size: 15px;
}

.blog__inner h3 {
    margin-top: 60px;
    font-family: "Roboto Serif", serif;
    font-size: 44px;
    font-weight: 600;
    color: #191720;
    line-height: 60px;
}

.blog__inner p {
    margin-top: 15px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #191720;
    font-size: 1.8rem;
    line-height: 30px;
}

.blog__inner img {
    border-radius: 30px 0 0 30px;
    width: 500px;
    padding: 4px;
}

.blog-img {
    text-align: center;
}

.blog-img img {
    border-radius: 30px;
    width: 70%;
}

/* Tablet styles (1024px) */
@media (max-width: 1024px) {
    .blog__inner {
        width: 100%;
    }

    .blog__inner img {
        border-radius: 30px 30px 0 0;
        width: 100%;
    }

    .blog__item {
        display: grid;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .blog-learnmore {
        text-align: center;
    }

    .blog__item {
        border-radius: 35px;
    }

    .blog__item h2,
    .blog__item p {
        margin-left: 20px;
    }

    .blog-btn {
        margin-bottom: 20px;
    }
}

/* Mobile styles (480px) */
@media (max-width: 480px) {
    .blog__item {
        display: grid;
    }

    .blog__box {
        gap: 5rem;
    }

    .blog__item {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid #efe7c6;
        padding-bottom: 4rem;
    }

    .blog__inner {
        margin-top: 5rem;
        margin-bottom: unset;
    }

    .blog__item img,
    .blog__item h2,
    .blog__item p {
        width: 100%;
        margin-left: 20px;
    }

    .title {
        margin-bottom: 4rem;
        font-size: 50px;
    }

    .blog__item img {
        margin: unset;
        margin-bottom: 4rem;
    }

    .tag {
        font-size: 35px;
    }

    .blog-learnmore {
        text-align: center;
        margin-left: 20px;
    }

    .blog__item {
        border: 5px #a9a9a9 solid;
    }

    .blog__item {
        border-radius: 35px;
    }
}
