main .container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.question__inner {
    margin-top: 84px;
}

.question__inner h3 {
    color: #191720;
    font-family: "Roboto Serif", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}

.question__inner p {
    margin-top: 4px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #191720;
    font-size: 1.8rem;
    line-height: 30px;
}

/* Tablet styles (1024px) */
@media (max-width: 1024px) {
    .about__inner {
        width: unset;
    }
    .about .container {
        width: 1170px;
        max-width: calc(100% - 48px);
        margin: 0 auto;
    }
    .about__inner img {
        width: 50%;
    }
} /* Tablet styles (1024px) */
@media (max-width: 1024px) {
    .question__inner h3 {
    }
}

/* Mobile styles (480px) */
@media (max-width: 480px) {
    .question__inner h3 {
    }
}
