* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #fffae3;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #572af8;
    width: 107px;
    height: 44px;
    border-radius: 4px;
}

.navbar__list {
    height: 44px;
    display: flex;
    margin-left: 48px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 37px 135px 40px 135px;
}

.navbar__item {
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.navbar__link {
    margin-right: 48px;
    color: #191720;
}

.navbar__link:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.header-signin {
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #191720;
    margin-right: 30px;
}

.header-signin:hover {
    opacity: 0.7;
}

.header-signup {
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

.header-signup:hover {
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

/* //////////////// */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container {
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 20px;
    width: 350px;
    height: 430px;
}

.input {
    font-size: 15px;
    width: 250px;
    z-index: 1;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    color: #575363;
}

.login__text {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-size: 15px;
    margin-left: 50px;
}

.submit {
    text-align: center;
}

button {
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
    color: #fff;
    border: none;
    background-color: #572af8;
    border-radius: 6px;
    width: 105px;
    height: 40px;
    text-align: center;
}

.button {
    text-align: center;
}

.cover1 {
    margin-top: 30px;
    font-family: "Manrope", sans-serif;
}

.signup a {
    text-decoration: none;
    color: #572af8;
}

.signup-helper {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 40px;
}

/* fooot */
footer {
    padding: 108px 135px 30px;
}

.footer__inner {
    display: flex;
}

.footer__row {
    display: flex;
}

.footer__right {
    margin-left: 213px;
}

.footer__heading {
    margin-bottom: 24px;
    color: #191720;
    font-family: "Manrope", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer__link {
    width: 122px;
    color: #575363;
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer__list {
    margin-right: 70px;
}

li {
    margin-top: 16px;
    overflow-y: hidden;
    line-height: 2rem;
}

.footer__desc {
    margin-top: 12px;
    font-family: "Manrope", sans-serif;
    width: 270px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.line {
    position: relative;
    margin-top: 55px;
    width: 100%;
}

.social__list {
    margin-top: 20px;
}

.social__hover:hover {
    color: #572af8;
    transition: 0.25s;
}

.cover {
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
}

.copy {
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.service {
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.terms {
    margin-left: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
