* {
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Manrope", sans-serif;
    background: #fffae3;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #572af8;
    width: 107px;
    height: 44px;
    border-radius: 4px;
}
